.banner{
    height: 27.75rem;
    
   background-color: #FFFFFF;
 
    display: flex;
   
    justify-content: space-between;

    
    /* gap: 4.25rem; */
    

}
.banner-1{
    display: flex;
     flex-direction: column; 
     margin:3.625rem 0 3.625rem 3.5rem;
     width: 38.75rem;
   
}

.banner-1-child1{
  line-height: 1.875rem;
  height: 1.875rem;
  
  /* width: 38.75rem;   */
    font-size: 1.25rem;
    font-weight: 600;
   font-family: 'Epilogue', sans-serif;
    color: #2D2D2D;

   
}
.banner-1-child2{
     /* width: 38.75rem;   */
    /* height: 4.375rem; */
    font-size: 4.25rem;
    font-family: 'Epilogue', sans-serif;
    font-weight: 600;
    color: #2D2D2D;
    margin-top: 1.5rem;
    line-height: 4.356rem;


}
.banner-1-child3{
    font-size: 1.063rem;
    font-weight: 400;
    color: #2D2D2D;
   
    /* height: 3.375rem; */
    font-family: 'Epilogue', sans-serif;
    margin-top: 1.5rem;
    line-height: 1.688rem;
    


}

.banner-1-child4{
    width: 13.188rem;
    /* height: 4.875rem; */
    background-color: #2D2D2D;
    margin-top: 3rem;
    /* margin-right: 25.563rem; */
}

.button-banner1{
    width: 5.188rem;
    /* height:1.875rem ; */
    font-size: 1.25rem;
    font-weight: 600;
    color: #FFFFFF;
    margin-left: 4rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-right: 4rem;
    
    

}

.banner-2{
    height: 22.5rem;
    background-size: cover;
    background-repeat: no-repeat;
background-position: center;
    /* width: 30rem;  */

 margin:2.625rem 3.5rem 2.625rem 0;
    /* margin-left:4.25rem ; */
/*  
    margin-bottom: 2.625rem; */
 
   
}